__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
bin/
lib/
develop-eggs/
dist/
eggs/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.venv/
venv/
ENV/
.env
.sqlite3
backend/database.sqlite
frontend/.DS_Store
.vscode/
.idea/
